{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}  Home  {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/home.css' %} ">  {% endblock %}

<!-- {% block script %}
  /javascript/home.js
{% endblock %} -->

{% block content %}

  <p>Make your predictions using this form </p>

  <form method="post" >
    {% csrf_token %}

    {% for field in form %}

      {% if forloop.first %}
        <aside> 
      {% endif %}

      {{ field.label_tag }}
      {{ field }}

      {% if forloop.counter0 == 20 %}
        </aside>
        <aside>
      {% endif %}

      {% if forloop.last %}
        </aside>
      {% endif %}

    {% endfor %}

    <br>

    <input type="submit" name="predict" value="Predict"> 

  </form>

{% endblock %}

{% block javascripts%}
  <script type="text/javascript" src="{% static '/javascript/home.js'%}">

  </script>
{% endblock %}
